h1, h2, h3, h4, h5, header {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html {
    height: 100%;
    background-image: url(../images/concrete_seamless.png)
}

body {
    margin: auto;
    overflow-x: hidden;
    display: block;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

#wrapper {
    border-bottom: 3px solid #cccccc;
    margin: 0;
}

#header {
    overflow: hidden;
    background-color: #ffffff;
}

#header h1 {
    float: left;
    background-color: #4aaaa5;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    line-height: 80px;
    color: white;
}

nav {
    float: right;
    margin-top: 18px;
}

#header li {
    border-right: 1px solid #cccccc;
    display: inline-block;
    margin: 1em .5em;
    text-align: left;
    padding-right: 20px;
    margin-top: 14px;
}

a {
    text-decoration: none;
    color: #777777;
}

#container {
    display: block;
    background-color: #ffffff;
    overflow: hidden;
    padding: 0px;
    flex: 1 0 auto;
    width: 960px;
    margin: auto;
    padding-bottom: 100px;
    margin-bottom: 10%;
}

h2 {
    margin-left: 25px;
    padding: 0;
    padding-bottom: 0px;
}

img {
    margin-left: 25px;
    padding-right: 8px;
    float: left;
}

#first {
    line-height: 30px;
}

#second {
    margin-left: 25px;
    line-height: 30px;
}

#third {
    margin-left: 25px;
    line-height: 30px;
}

#footer {
    flex-shrink: 0;
    padding: 20px;
    background-color: gray;
    color: white;
    text-align: center
}

#footerContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: #4aaaa5 solid 8px;
}

#headerContainer {
    max-width: 960px;
    margin: auto;
}

#name {
    margin-left: 25px;
    padding-bottom: 5px;
}

#box1 {
    width: 95%;
    margin-left: 25px;
    height: 25px;
}

#email {
    margin-left: 25px;
    padding-bottom: 5px;
    padding-top: 5px;
}

#box2 {
    width: 95%;
    margin-left: 25px;
    height: 25px;
}

#message {
    margin-left: 25px;
    padding-top: 5px;
}

#box3 {
    width: 95%;
    margin-left: 25px;
    height: 300px;
}

button {
    display: inline-block;
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 8px 20px;
    margin-left: 25px;
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 10px;
}

textarea {
    font-size: 14px;
}

hr {
    height: 3px;
    border: none;
    background-color: #cccccc;
    margin-bottom: 25px;
    width: 95%;
}

#hangman {
    position: relative;
}

#desc1 {
    position: absolute;
    top: 85px;
    left: 25px;
    width: 275px;
    height: 50px;
    background-color: #4aaaa5;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
}

#rpg {
    position: relative;
}

#desc2 {
    position: absolute;
    background-color: #4aaaa5;
    left: 34.7%;
    top: 85px;
    width: 275px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
}

#trivia {
    clear: both;
    position: relative;
    padding-top: 35px;
}

#desc3 {
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 275px;
    height: 50px;
    left: 25px;
    top: 120px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
}

#rutger {
    position: relative;
}

#desc4 {
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 275px;
    height: 50px;
    left: 34.7%;
    top: 85px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
}

#rpc {
    clear: both;
    position: relative;
    padding-top: 35px;
    margin-bottom: 30px;
}

#desc5 {
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 275px;
    height: 50px;
    left: 25px;
    top: 120px;
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
}

a:hover {
    opacity: 0.7;
    font-family: Arial, Helvetica, sans-serif;
}